.container {
  min-height: 100vh;
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}
.invitation {
  padding: 40px 40px 70px;
  width: 100%;
}

/* Content  */

/* Frame  */

.frame {
  display: flex;
  justify-content: space-between;
}
.frame h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 4px;
}
.frame .item {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 4px;
}
.frame .item span {
  font-weight: 500;
  font-family: "Fira Mono";
}

/* Account  */

.account {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
}
.account .designer,
.account .client {
  font-size: 12px;
}
.account .designer div,
.account .client div {
  margin-bottom: 4px;
}
.account .title {
  font-weight: bold;
}
.account .designer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Details  */

.details {
  width: 100%;
  font-size: 12px;
}

.details .header {
  font-weight: bold;
}
.details .row {
  display: flex;
}
.row .item:nth-child(1) {
  width: 241px;
}
.row .item:nth-child(2) {
  width: 100px;
}
.row .item:nth-child(3) {
  width: 74px;
}
.row .item:nth-child(4) {
  width: 100px;
}
.row .item:not(:nth-child(1)) {
  text-align: right;
}
.details .row {
  margin-bottom: 14px;
}
.details .row:nth-child(1) {
  border-bottom: 1px solid gray;
}

/* Paid  */

.paid {
  color: #ff1c1ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}
.paid .content {
  width: 310px;
  padding: 20px 40px;
  border: 4px solid #ff1c1ccc;
  border-radius: 20px;
  margin: 50px 0;
  transform: rotate(-20deg);
}
.paid .content .title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.paid .content .rp {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}
.paid .content .date {
  font-weight: 500;
  font-size: 14px;
}

/* Footer  */

.footer {
  height: 157px;
  background-color: #7f57f1;
  padding: 15px 40px;
  color: #fff;
  width: calc(100% + 80px);
  margin-left: -40px;
}
.footer .top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}
.footer .top div {
  font-weight: 700;
  font-size: 12px;
}
.footer .middle {
  padding: 8px 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
.footer .middle .left .row {
  font-size: 12px;
  margin-bottom: 4px;
}
.footer .middle .left .row:not(:last-child) {
  margin-bottom: 4px;
}
.footer .middle .left .row span:first-of-type {
  width: 62px;
  display: inline-block;
  margin-right: 8px;
  font-weight: 700;
}

.footer .middle .right .row span:first-of-type {
  font-size: 14px;
  font-weight: 400;
}
.footer .middle .right .row span:last-of-type {
  font-size: 14px;
  font-weight: 500;
}
.footer .middle .right .row:last-child span:first-of-type {
  font-weight: 500;
}
.footer .bottom {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

/* Button Download */

.download {
  position: absolute;
  bottom: 10px;
  left: 61px;
  background-color: #7f57f1;
  font-weight: 700;
  font-size: 16px;
  border-radius: 110px;
  padding: 15px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.download img {
  margin-left: 6px;
}
